@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1714742410/snp_unda4j.svg);
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
    color: #fff;
  
}
.launch {
  background: linear-gradient(94.54deg, #9ADBEC 0%, #9F9ADB 58.45%, #A27BD3 90.51%);

}
.ca {
background: linear-gradient(90deg, #04D6BD 8.85%, #8A01D7 99.76%);


}
.close {
  position: fixed;
  z-index: 1000;
  /* padding-right: 40px; */
}
.launch:hover{
  background: #A27BD3;
}